<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

	<link rel="stylesheet" type="text/css" href="{% static 'css/registration/login.css' %}">
<!--===============================================================================================-->
<style type="text/css">
  body {
    background-color: #a91a32;
  }
</style>
</head>
<body>
	
<div class="main-box">
  <div class="slider-cont">
  	<center><img id="logo" src="https://bmsit.ac.in/assets/logo-5527329e306f832982eb5b10b8325a606bc2058ae61b4aa5705c8c2d4e436212.png" ></center><br>	
    <center><h3 style="color: #000;">Careers at BMSIT</h3><center>
  </div>
  
  
  
  <div class="form-cont">

    <div class="top-buttons">
      <button class="to-signup top-active-button">
        Sign Up
      </button>
      <button class="to-signin">
        Sign In
      </button>
    </div>
    
    <div class="form form-signup">
      <form style="color:black;" action="/signup/" method="POST">{% csrf_token %}
        <lable>USERNAME</lable>
        <input type="text" name="username" id="id_username"
               placeholder="Your desired username">
        <lable>E-MAIL</lable>
        <input type="email" name="email" id="id_email"
               placeholder="Your e-mail">
        <lable>PASSWORD</lable>
        <input type="password" name="password1" id="id_password1"
               placeholder="Your password">
        <lable>CONFIRM PASSWORD</lable>
        <input type="password" name="password2" id="id_password2"
               placeholder="Your password">
        <input type="submit"
               class="form-btn"
               value="Sign Up"/>
        <a href="#" class="lined-link to-signin-link">I'm already member</a>
      </form>
    </div>

    <div style="margin-top:-10%;" class="form form-signin">
      <form action="/login/" method="POST">{% csrf_token %}
        <lable>E-MAIL</lable>
        <input type="email" name="username" id="id_username"
               placeholder="Your e-mail">
        <lable>PASSWORD</lable>
        <input type="password" name="password" id="id_password"
               placeholder="Your password">
        <input type="submit"
               class="form-btn"
               value="Sign In"/>
        <a href="#" class="lined-link to-signup-link">Create new account</a>
      </form>
    </div>
  </div>
  <div class="clear-fix"></div>
</div>
	
	<script src="{% static 'js/login.js' %}"></script>
  <script>
  $(function() {
    $('#logo').removeAttr('style');
    $('#logo').css('width', '100');
    $('#logo').css('margin-top', '30%');
  })
  </script>
</body>
</html>