<!DOCTYPE HTML>
{% load widget_tweaks %}
{% load static %}
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
<section class="form-box" >
    <div class="container">
        <div class="row">
            <div class="col-md-12 form-wizard">
			
			<center><img height="80" width="80" src="https://bmsit.ac.in/assets/logo-5527329e306f832982eb5b10b8325a606bc2058ae61b4aa5705c8c2d4e436212.png"></center><br>	<!-- Form Wizard -->

            		<h3>BMS Institute of Technology</h3>
            		<p>Fill all form field to go next step</p>	
            		<div class="form-wizard-steps form-wizard-tolal-steps-5">
            			<div class="form-wizard-progress">
            			    <div class="form-wizard-progress-line" data-now-value="10" data-number-of-steps="5" style="width: 10%;"></div>
            			</div>
            			<div style="background-color:green;" class="form-wizard-step">
            				<div class="form-wizard-step-icon"><i class="fa fa-user" aria-hidden="true"></i></div>
            				<p>Personal</p>
            			</div>
						<div style="background-color:green;" class="form-wizard-step">
            				<div class="form-wizard-step-icon"><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
            				<p>Educational</p>
            			</div>
						<div class="form-wizard-step active">
            				<div class="form-wizard-step-icon"><i class="fa fa-briefcase" aria-hidden="true"></i></div>
            				<p>Professional Career</p>
            			</div>
            			<div class="form-wizard-step">
            				<div class="form-wizard-step-icon"><i class="fa fa-money" aria-hidden="true"></i></div>
            				<p>Payment Details</p>
            			</div>
            			<div class="form-wizard-step">
            				<div class="form-wizard-step-icon"><i class="fa fa-file" aria-hidden="true"></i></div>
            				<p>Documents</p>
            			</div>
            		</div>
		<form role="form" action="/teaching/" method="post" enctype="multipart/form-data">{% csrf_token %}		
                <h2>Please Enter Your Teaching Experience Below</h2>
        {{ formset.management_form }}
        <div id="form_set">
            {% for form in formset.forms %}
                <table class='no_error'>
                    {{ form.as_table }}
                </table>
            {% endfor %}
        </div>
        <input type="button" class="btn btn-primary" value="Add More" id="add_more">
        <div id="empty_form" style="display:none">
            <table class='no_error'>
                {{ formset.empty_form.as_table }}
            </table>
        </div>
        <script>
            $('#add_more').click(function() {
                var form_idx = $('#id_form-TOTAL_FORMS').val();
                $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
                $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
            });
        </script>
        <button type="submit" class="btn btn-next">Submit</button>
				</form>
				<!-- Form Wizard -->
            </div>
        </div>     
    </div>
</section>
<script>
function addField (argument) {
       var myTable = document.getElementById("research");
       var currentIndex = myTable.rows.length;
       var currentRow = myTable.insertRow(-1);
   
       var university = document.createElement("input");
       university.setAttribute("name", "Name_university" + currentIndex);
university.setAttribute("class", "form-control");
   
       var area = document.createElement("input");
       area.setAttribute("name", "area_research" + currentIndex);
area.setAttribute("class", "form-control");
   
       var research_to = document.createElement("input");
       research_to.setAttribute("name", "from_date" + currentIndex);
research_to.setAttribute("class", "form-control");
     
     var research_from = document.createElement("input");
       research_from.setAttribute("name", "to_date" + currentIndex);
research_from.setAttribute("class", "form-control");
   
     var research_total = document.createElement("input");
       research_total.setAttribute("name", "total_duration" + currentIndex);
research_total.setAttribute("class", "form-control");

var int_conf = document.createElement("input");
       int_conf.setAttribute("name", "total_internationalConf" + currentIndex);
int_conf.setAttribute("class", "form-control");

var title_paper = document.createElement("input");
       title_paper.setAttribute("name", "title_paper" + currentIndex);
title_paper.setAttribute("class", "form-control");

var conf = document.createElement("input");
       conf.setAttribute("name", "conf_International" + currentIndex);
conf.setAttribute("class", "form-control");

var year = document.createElement("input");
       year.setAttribute("name", "year_month_pub" + currentIndex);
year.setAttribute("class", "form-control");
  

       var currentCell = currentRow.insertCell(-1);
       currentCell.appendChild(university);
   
       currentCell = currentRow.insertCell(-1);
       currentCell.appendChild(area);
   
       currentCell = currentRow.insertCell(-1);
       currentCell.appendChild(research_to);
   
     currentCell = currentRow.insertCell(-1);
       currentCell.appendChild(research_from);
   
     currentCell = currentRow.insertCell(-1);
       currentCell.appendChild(research_total);

	currentCell = currentRow.insertCell(-1);
       currentCell.appendChild(int_conf);

currentCell = currentRow.insertCell(-1);
       currentCell.appendChild(title_paper);

currentCell = currentRow.insertCell(-1);
       currentCell.appendChild(conf);
   
     currentCell = currentRow.insertCell(-1);
       currentCell.appendChild(year);
     }


function addField1 (argument) {
       var myTable = document.getElementById("conference");
       var currentIndex = myTable.rows.length;
       var currentRow = myTable.insertRow(-1);
   
       var university = document.createElement("input");
       university.setAttribute("name", "conf_conducted_org" + currentIndex);
university.setAttribute("class", "form-control");
   
       var area = document.createElement("input");
       area.setAttribute("name", "total_experience" + currentIndex);
area.setAttribute("class", "form-control");
   
       var research_to = document.createElement("input");
       research_to.setAttribute("name", "university" + currentIndex);
research_to.setAttribute("class", "form-control");
     
     var research_from = document.createElement("input");
       research_from.setAttribute("name", "designation" + currentIndex);
research_from.setAttribute("class", "form-control");
   
     var research_total = document.createElement("input");
       research_total.setAttribute("name", "from_date" + currentIndex);
research_total.setAttribute("class", "form-control");

var int_conf = document.createElement("input");
       int_conf.setAttribute("name", "to_date" + currentIndex);
int_conf.setAttribute("class", "form-control");

var title_paper = document.createElement("input");
       title_paper.setAttribute("name", "total_duration" + currentIndex);
title_paper.setAttribute("class", "form-control");

  

       var currentCell = currentRow.insertCell(-1);
       currentCell.appendChild(university);
   
       currentCell = currentRow.insertCell(-1);
       currentCell.appendChild(area);
   
       currentCell = currentRow.insertCell(-1);
       currentCell.appendChild(research_to);
   
     currentCell = currentRow.insertCell(-1);
       currentCell.appendChild(research_from);
   
     currentCell = currentRow.insertCell(-1);
       currentCell.appendChild(research_total);

	currentCell = currentRow.insertCell(-1);
       currentCell.appendChild(int_conf);

currentCell = currentRow.insertCell(-1);
       currentCell.appendChild(title_paper);
     }


function addField2 (argument) {
       var myTable = document.getElementById("affiliation");
       var currentIndex = myTable.rows.length;
       var currentRow = myTable.insertRow(-1);
   
       var university = document.createElement("input");
       university.setAttribute("name", "profbody" + currentIndex);
university.setAttribute("class", "form-control");
   
       var area = document.createElement("input");
       area.setAttribute("name", "year" + currentIndex);
area.setAttribute("class", "form-control");
   
       var research_to = document.createElement("input");
       research_to.setAttribute("name", "no_member" + currentIndex);
research_to.setAttribute("class", "form-control");
     
     var research_from = document.createElement("input");
       research_from.setAttribute("name", "year_selection" + currentIndex);
research_from.setAttribute("class", "form-control");

       var currentCell = currentRow.insertCell(-1);
       currentCell.appendChild(university);
   
       currentCell = currentRow.insertCell(-1);
       currentCell.appendChild(area);
   
       currentCell = currentRow.insertCell(-1);
       currentCell.appendChild(research_to);
   
     currentCell = currentRow.insertCell(-1);
       currentCell.appendChild(research_from);
     }


function addField3 (argument) {
       var myTable = document.getElementById("industrial");
       var currentIndex = myTable.rows.length;
       var currentRow = myTable.insertRow(-1);
   
       var university = document.createElement("input");
       university.setAttribute("name", "organisation" + currentIndex);
university.setAttribute("class", "form-control");
   
       var area = document.createElement("input");
       area.setAttribute("name", "position_held" + currentIndex);
area.setAttribute("class", "form-control");
   
       var research_to = document.createElement("input");
       research_to.setAttribute("name", "from_date" + currentIndex);
research_to.setAttribute("class", "form-control");
     
     var research_from = document.createElement("input");
       research_from.setAttribute("name", "to_date" + currentIndex);
research_from.setAttribute("class", "form-control");

var experience = document.createElement("input");
       experience.setAttribute("name", "experience_years" + currentIndex);
experience.setAttribute("class", "form-control");

       var currentCell = currentRow.insertCell(-1);
       currentCell.appendChild(university);
   
       currentCell = currentRow.insertCell(-1);
       currentCell.appendChild(area);
   
       currentCell = currentRow.insertCell(-1);
       currentCell.appendChild(research_to);
   
     currentCell = currentRow.insertCell(-1);
       currentCell.appendChild(research_from);

	currentCell = currentRow.insertCell(-1);
       currentCell.appendChild(experience);
     }


function addField4 (argument) {
       var myTable = document.getElementById("awards");
       var currentIndex = myTable.rows.length;
       var currentRow = myTable.insertRow(-1);
   
       var university = document.createElement("input");
       university.setAttribute("name", "Spec_awards_particulars" + currentIndex);
university.setAttribute("class", "form-control");
   
       var area = document.createElement("input");
       area.setAttribute("name", "state" + currentIndex);
area.setAttribute("class", "form-control");
   
       var research_to = document.createElement("input");
       research_to.setAttribute("name", "national" + currentIndex);
research_to.setAttribute("class", "form-control");
     
     var research_from = document.createElement("input");
       research_from.setAttribute("name", "international" + currentIndex);
research_from.setAttribute("class", "form-control");


       var currentCell = currentRow.insertCell(-1);
       currentCell.appendChild(university);
   
       currentCell = currentRow.insertCell(-1);
       currentCell.appendChild(area);
   
       currentCell = currentRow.insertCell(-1);
       currentCell.appendChild(research_to);
   
     currentCell = currentRow.insertCell(-1);
       currentCell.appendChild(research_from);
     }		

function addField5 (argument) {
       var myTable = document.getElementById("teaching");
       var currentIndex = myTable.rows.length;
       var currentRow = myTable.insertRow(-1);
   
       var university = document.createElement("input");
       university.setAttribute("name", "university_name" + currentIndex);
university.setAttribute("class", "form-control");
   
       var area = document.createElement("input");
       area.setAttribute("name", "designation" + currentIndex);
area.setAttribute("class", "form-control");
   
       var research_to = document.createElement("input");
       research_to.setAttribute("name", "from_date_teaching" + currentIndex);
research_to.setAttribute("class", "form-control");
     
     var research_from = document.createElement("input");
       research_from.setAttribute("name", "to_date_teaching" + currentIndex);
research_from.setAttribute("class", "form-control");

var duration = document.createElement("input");
      duration.setAttribute("name", "total_duration_teaching" + currentIndex);
duration.setAttribute("class", "form-control");


       var currentCell = currentRow.insertCell(-1);
       currentCell.appendChild(university);
   
       currentCell = currentRow.insertCell(-1);
       currentCell.appendChild(area);
   
       currentCell = currentRow.insertCell(-1);
       currentCell.appendChild(research_to);
   
     currentCell = currentRow.insertCell(-1);
       currentCell.appendChild(research_from);

	currentCell = currentRow.insertCell(-1);
       currentCell.appendChild(duration);
     }		
</script>

<script type="text/javascript">
	"use strict";
function scroll_to_class(element_class, removed_height) {
	var scroll_to = $(element_class).offset().top - removed_height;
	if($(window).scrollTop() != scroll_to) {
		$('.form-wizard').stop().animate({scrollTop: scroll_to}, 0);
	}
}

function bar_progress(progress_line_object, direction) {
	var number_of_steps = progress_line_object.data('number-of-steps');
	var now_value = progress_line_object.data('now-value');
	var new_value = 0;
	if(direction == 'right') {
		new_value = now_value + ( 100 / number_of_steps );
	}
	else if(direction == 'left') {
		new_value = now_value - ( 100 / number_of_steps );
	}
	progress_line_object.attr('style', 'width: ' + new_value + '%;').data('now-value', new_value);
}

jQuery(document).ready(function() {
    
    /*
        Form
    */
    $('.form-wizard fieldset:first').fadeIn('slow');
    
    $('.form-wizard .required').on('focus', function() {
    	$(this).removeClass('input-error');
    });
    
    // next step
    $('.form-wizard .btn-next').on('click', function() {
    	var parent_fieldset = $(this).parents('fieldset');
    	var next_step = true;
    	// navigation steps / progress steps
    	var current_active_step = $(this).parents('.form-wizard').find('.form-wizard-step.active');
    	var progress_line = $(this).parents('.form-wizard').find('.form-wizard-progress-line');
    	
    	// fields validation
    	parent_fieldset.find('.required').each(function() {
    		if( $(this).val() == "" ) {
    			$(this).addClass('input-error');
    			next_step = false;
    		}
    		else {
    			$(this).removeClass('input-error');
    		}
    	});
    	// fields validation
    	
    	if( next_step ) {
    		parent_fieldset.fadeOut(400, function() {
    			// change icons
    			current_active_step.removeClass('active').addClass('activated').next().addClass('active');
    			// progress bar
    			bar_progress(progress_line, 'right');
    			// show next step
	    		$(this).next().fadeIn();
	    		// scroll window to beginning of the form
    			scroll_to_class( $('.form-wizard'), 20 );
	    	});
    	}
    	
    });
    
    // previous step
    $('.form-wizard .btn-previous').on('click', function() {
    	// navigation steps / progress steps
    	var current_active_step = $(this).parents('.form-wizard').find('.form-wizard-step.active');
    	var progress_line = $(this).parents('.form-wizard').find('.form-wizard-progress-line');
    	
    	$(this).parents('fieldset').fadeOut(400, function() {
    		// change icons
    		current_active_step.removeClass('active').prev().removeClass('activated').addClass('active');
    		// progress bar
    		bar_progress(progress_line, 'left');
    		// show previous step
    		$(this).prev().fadeIn();
    		// scroll window to beginning of the form
			scroll_to_class( $('.form-wizard'), 20 );
    	});
    });
    
    // submit
    $('.form-wizard').on('submit', function(e) {
    	
    	// fields validation
    	$(this).find('.required').each(function() {
    		if( $(this).val() == "" ) {
    			e.preventDefault();
    			$(this).addClass('input-error');
    		}
    		else {
    			$(this).removeClass('input-error');
    		}
    	});
    	// fields validation
    	
    });
    
    
});





// image uploader scripts 

var $dropzone = $('.image_picker'),
    $droptarget = $('.drop_target'),
    $dropinput = $('#inputFile'),
    $dropimg = $('.image_preview'),
    $remover = $('[data-action="remove_current_image"]');

$dropzone.on('dragover', function() {
  $droptarget.addClass('dropping');
  return false;
});

$dropzone.on('dragend dragleave', function() {
  $droptarget.removeClass('dropping');
  return false;
});

$dropzone.on('drop', function(e) {
  $droptarget.removeClass('dropping');
  $droptarget.addClass('dropped');
  $remover.removeClass('disabled');
  e.preventDefault();
  
  var file = e.originalEvent.dataTransfer.files[0],
      reader = new FileReader();

  reader.onload = function(event) {
    $dropimg.css('background-image', 'url(' + event.target.result + ')');
  };
  
  console.log(file);
  reader.readAsDataURL(file);

  return false;
});

$dropinput.change(function(e) {
  $droptarget.addClass('dropped');
  $remover.removeClass('disabled');
  $('.image_title input').val('');
  
  var file = $dropinput.get(0).files[0],
      reader = new FileReader();
  
  reader.onload = function(event) {
    $dropimg.css('background-image', 'url(' + event.target.result + ')');
  }
  
  reader.readAsDataURL(file);
});

$remover.on('click', function() {
  $dropimg.css('background-image', '');
  $droptarget.removeClass('dropped');
  $remover.addClass('disabled');
  $('.image_title input').val('');
});

$('.image_title input').blur(function() {
  if ($(this).val() != '') {
    $droptarget.removeClass('dropped');
  }
});

// image uploader scripts
</script>
<script>
$(function() {
	$('input[type=text]').val('a')
})
</script>
<script>
var calculateAge = function(birthday) {
    var now = new Date();
    var past = new Date(birthday);
    var nowYear = now.getFullYear();
    var pastYear = past.getFullYear();
    var age = nowYear - pastYear;

    return age;
};

$('#id_date_of_birth').change(function(e) {
    e.preventDefault();
    var $birthday = $(this).val();
    $('#id_age').val(calculateAge($birthday));
});
</script>
<!-- <script>
	$(function() {
		$('select[name^="faculty"] option[value="1"]').attr("selected","selected");
	})
</script> -->
</body>	